* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
}

.slides {
  transition: 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 98vw;
  margin: 1vw;
  border: 1px solid;
}

.slides__label {
  position: fixed;
  bottom: 0;
}
