$admin-slide-width: 25%;
$admin-slide-height: 20vw;

.admin {
  min-height: 100vh;
  padding: 2rem;
}

.admin__header {
  display: flex;
  justify-content: center;
}

.admin__title {
  letter-spacing: 0.02em;
  margin: 0;
}

.admin__settings__toggle {
  display: block;
  height: 100%;
  padding: 0.5rem;
  position: relative;

  .icon {
    @include svg-outline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.admin__slides {
  @include clearfix;
  padding: 1rem;
  overflow: hidden;
}

.admin__slide__container {
  float: left;
  height: $admin-slide-height;
  position: relative;
  width: $admin-slide-width;
}

.admin__slide {
  $offset: 0.5rem;
  position: absolute;
  border-radius: $border-radius;
  bottom: $offset;
  box-shadow: $shadow-base;
  left: $offset;
  right: $offset;
  top: $offset;

  .slide__content {
    font-size: 0.5vw;
    padding: 1vw;
  }
}

.admin__slide__overlay {
  background-color: rgba($brand-primary, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.1s ease-in-out;

  .admin__slide__container:hover & {
    opacity: 1;
  }
}

.admin__slide__actions {
  position: absolute;
  right: 0.25rem;
  top: 0.75rem;
}

.admin__slide__action {
  padding: 0 0.25rem;
}

.new-slide-toggle {
  @include inverse-link-color;
  border: 2px dashed;
  box-shadow: none;
  cursor: pointer;
  transition: 0.1s linear;
  user-select: none;
}

.new-slide-toggle__label {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.new-slide__secondary {
  display: block;
  text-align: center;
  margin-top: 1.5rem;
}
