$admin-slide-width: 25%;
$admin-slide-height: 25vw;

.admin {
  min-height: 100vh;
}

.admin__header {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.admin__title {
  margin: 0;
  letter-spacing: 0.02em;
}

.admin__settings__toggle {
  padding: 0.5rem;
  position: relative;
  height: 100%;
  display: block;

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: rgba(white, 0.5);

    &:hover {
      fill: white;
    }
  }
}

.admin__slides {
  margin: 1rem;
}

.admin__slide__container {
  float: left;
  width: $admin-slide-width;
  height: $admin-slide-height;
  position: relative;
}

.admin__slide {
  $offset: 0.5rem;
  position: absolute;
  top: $offset;
  left: $offset;
  bottom: $offset;
  right: $offset;
  border-radius: $border-radius;
  box-shadow: $shadow-base;

  .slide__content {
    padding: 1vw;
    font-size: 0.5vw;
  }
}

.admin__slide__overlay {
  opacity: 0;
  transition: 0.1s ease-in-out;
  position: relative;
  background-color: rgba($brand-primary, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .admin__slide__container:hover & {
    opacity: 1;
  }
}

.admin__slide__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.new-slide-toggle {
  @include inverse-link-color;
  transition: 0.1s linear;
  border: 2px dashed;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
}

.new-slide-toggle__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
