* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  color: $gray-dark;
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: $brand-primary;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s linear;

  &:hover {
    color: $brand-primary;
  }
}

img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

svg {
  fill: inherit;
}

.offline-ui {
  font-family: $font-family-base;
  background-color: $gray-dark;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.container {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
}

.container__inverse,
.container__blue {
  color: white;

  a {
    @include inverse-link-color;
  }
}

.container__inverse {
  background-color: $gray;
}

.container__blue {
  background-color: rgba($brand-primary, 0.95);
}

.container__fixed {
  $offset: 0;
  bottom: $offset;
  left: $offset;
  position: fixed;
  right: $offset;
  top: $offset;
}

.centered__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: $width-base;
}

.block {
  height: $block-size;
  width: $block-size;
  display: inline-block;
  position: relative;
  transition: 0.1s linear;
  cursor: pointer;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

  > .icon {
    fill: $gray-light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.block__small {
  height: $block-size-small;
  width: $block-size-small;

  > .icon {
    fill: rgba(white, 0.6);
  }

  &:hover > .icon {
    fill: white;
  }
}

.block__narrow {
  width: $block-size-small;
}

// Specificity
.tooltip.tooltip {
  padding: 0.5rem 0.75rem;
}

// Animations
.zoom-in-enter {
  opacity: 0.01;
  transform: scale(0.5);

  &.zoom-in-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 0.25s $ease-in-out-back;
  }
}

.zoom-in-leave {
  opacity: 1;
  transform: scale(1);

  &.zoom-in-leave-active {
    opacity: 0.01;
    transform: scale(0.5);
    transition: 0.2s ease-in-out;
  }
}
