* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  color: $gray-dark;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: $brand-primary;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s linear;

  &:hover {
    color: $brand-primary;
  }
}

img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

svg {
  fill: inherit;
}

body,
.container {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
}

.container__inverse,
.container__blue {
  color: white;

  a {
    @include inverse-link-color;
  }
}

.container__inverse {
  background-color: $gray-dark;
}

.container__blue {
  background-color: rgba($brand-primary, 0.95);
}

.loader {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);

  .spinner {
    $size: 3rem;
    height: $size;
    width: $size;
  }

  .cube {
    background-color: $gray-lighter;
  }
}
