.controller {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.timer {
  flex: 0 0 auto;
  font-feature-settings: "lnum" 1, "tnum" 1;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
}

.progress {
  flex: 0 0 auto;
}

.progress__container {
  margin: 1rem;
  display: flex;
}

.progress__slide {
  $height: 2rem;
  overflow: hidden;
  flex: 1;
  height: $height;
  line-height: $height;
  text-align: center;
  margin-left: 0.25rem;
  color: $gray;
  border: 1px solid;

  &:first-child {
    margin: 0;
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &.is-current {
    color: $gray-lighter;
  }
}

.action {
  height: 50vh;
  width: 100vw;
  position: fixed;
  bottom: 0;

  .slides {
    margin-left: -75vw;
  }

  .slide {
    font-size: 6px;
    border-radius: $border-radius;
    border: 1px solid;
  }
}
