$controller-offset: 4vw;
$slides-offset: 70vw;

.controller {
  height: 100vh;
  width: 100vw;
}

.top,
.bottom {
  position: fixed;
  width: 100vw;
}

.top {
  bottom: 50vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  top: 0;
}

.bottom {
  bottom: 0;
  height: 50vh;
}

.controller__progress {
  flex: 0 0 auto;

  .progress {
    margin: 0 1rem;
  }
}

.action {
  bottom: 0;
  display: block;
  position: absolute;
  top: 0;
}

.action__prev {
  left: 0;
  right: $slides-offset;
}

.action__next {
  left: 100vw - $slides-offset;
  right: 0;
}

.controller__slides {
  bottom: 2rem;
  margin-left: -($slides-offset);
}

.controller__slide {
  border-radius: $border-radius;
  font-size: 6px;
  margin: 0 $controller-offset;
  width: 100vw - ($controller-offset * 2);

  .slide__content__text {
    width: 100%;
  }
}
