.controller {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.timer {
  flex: 1 1 auto;
  font-feature-settings: "lnum" 1, "tnum" 1;
}

.progress {
  flex: 1 1 auto;
}

.actions {
  flex: 1 1 auto;
}
