.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

.input,
.textarea,
.button {
  appearance: none;
  border: 0;
  background-color: transparent;
  outline: none;
  border-radius: $border-radius;
  width: 100%;

  &:focus {
    box-shadow: 0 0 5px 3px rgba(white, 0.3);
  }
}

.input,
.textarea {
  padding: 0.5rem;
  border: 1px solid;
  display: block;
  color: inherit;

  &::placeholder {
    color: rgba(white, 0.5);
  }
}

.input {

}

.textarea {
  font-family: monospace;
  min-height: 6rem;
}

.button {
  background-color: white;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  color: $brand-primary;

  &:hover {
    box-shadow: $shadow-base;
  }

  .spinner {
    transform: translateY(3px) scale(0.9);

    > div {
      background-color: $brand-primary;
    }
  }
}
