.field {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

input,
textarea,
button {
  appearance: none;
  background-color: transparent;
  border-radius: $border-radius;
  border: 0;
  outline: none;
  width: 100%;
  color: inherit;

  &:focus {
    box-shadow: 0 0 5px 3px rgba(white, 0.4);
  }
}

input,
textarea {
  border: 1px solid;
  color: inherit;
  display: block;
  padding: 0.5rem;

  &::placeholder {
    color: rgba(white, 0.5);
  }
}

textarea {
  font-family: monospace;
  min-height: 6rem;
}

button {
  background-color: white;
  color: $brand-primary;
  display: inline-block;
  font-weight: bold;
  padding: 1rem;
  text-align: center;

  .sk-child {
    background-color: $brand-primary;
  }
}

.buttons {
  margin-top: 2rem;

  a {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
  }
}
