$header-padding: 2rem;

.header {
  background-color: $gray-lighter;
  color: $gray;
  display: flex;
  font-size: 1.25rem;
  height: $block-size;
  position: fixed;
  transition: 0.2s ease-in-out;
  user-select: none;
  width: 100%;
  z-index: 99;

  &.is-presentation {
    margin-top: -($block-size);

    &:hover {
      margin-top: 0;
    }
  }

  &.show-grid {
    margin-top: -($block-size) !important;
    transform: translateY(100vh);
  }

  .block {
    > svg {
      fill: $gray-light;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
      > .icon {
        fill: $brand-primary;
      }
    }
  }

  .timer {
    display: inline-block;
    flex: none;
    line-height: $block-size;
    margin-right: 1rem;
  }
}

.header__left {
  display: flex;
  flex: 2;
  justify-content: flex-start;
}

.header__right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.logo__container {
  border-right: 1px solid $gray-light;
  margin-right: 1rem;
}

.header__title {
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: $block-size;
  margin: 0;
  padding-right: 1.5rem;
}

.header__progress {
  background-color: $gray-lightest;
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: inherit;

  .is-presentation:hover & {
    height: 0.5rem;
  }
}

.header__progress__fill {
  background-color: $brand-primary;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.1s ease-in-out;
}

.session {
  border-left: 1px solid $gray-light;
  margin-left: 1rem;
}

.header__trigger {
  $height: 2rem;
  bottom: -($height);
  height: $height;
  position: absolute;
  width: 100%;
}
