$header-padding: 2rem;

.header {
  background-color: $gray-lighter;
  height: $block-size;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 9;
  padding-left: $header-padding;
  color: $gray;
  font-size: 1.25rem;
  user-select: none;

  .block {
    width: 2.5rem;

    > .icon {
      fill: $gray-light;
    }

    &:hover {
      > .icon {
        fill: $brand-primary;
      }
    }
  }

  &.is-presentation {
    padding-right: $header-padding;
    transition: margin 0.1s ease-in-out;
    margin-top: -($block-size);

    &:hover {
      margin-top: 0;
    }
  }

  .timer {
    line-height: $block-size;
    display: inline-block;
    flex: none;
    margin-right: 1rem;
  }
}

.header__left {
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

.header__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__title {
  letter-spacing: 0.02em;
  font-weight: bold;
  margin: 0;
  line-height: $block-size;
  padding-right: 1.5rem;
}

.header__progress {
  transition: inherit;
  height: 3px;
  background-color: $gray-lightest;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  .is-presentation:hover & {
    height: 0.5rem;
  }
}

.header__progress__fill {
  transition: 0.1s ease-in-out;
  background-color: $brand-primary;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.block.session {
  width: $block-size;
  border-left: 1px solid $gray-light;
  margin-left: 1rem;
}
