$gray: #47525d;

$gray-dark: darken($gray, 7%);
$gray-light: lighten($gray, 20%);
$gray-lighter: lighten($gray, 50%);
$gray-lightest: lighten($gray, 60%);

$brand-primary: #0074D9;
$brand-success: rgb(17, 204, 119);
$brand-error: rgb(255, 85, 34);

$font-family-base: -apple-system, BlinkMacSystemFont, sans-serif;

$block-size: 4rem;
$block-size-small: 3rem;

$width-base: 30rem;

$border-radius: 5px;

$transition: 0.1s ease-in-out;
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

@mixin inverse-link-color {
  $color: rgba(white, 0.5);
  color: $color;
  fill: $color;

  &:hover {
    $color: white;
    color: white;
    fill: white;
  }
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
