$gray-dark: #3d464d;
$gray: #47525d;
$gray-light: #7b8994;
$gray-lighter: lighten($gray-light, 30%);

$brand-primary: #0074D9;

$border-radius: 5px;

$transition: 0.1s ease-in-out;
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);
