.overlay {
  $offset: 0;
  bottom: $offset;
  left: $offset;
  position: fixed;
  right: $offset;
  top: $offset;
  z-index: 9;
}

.overlay__content {
  margin: 25% auto 1rem;
  width: $width-base;
}

.overlay__toggle {
  color: inherit;
  display: inline-block;
  fill: rgba(white, 0.5);
  position: absolute;
  right: 2rem;
  top: 2rem;

  &:hover {
    fill: white;
  }
}

.overlay-enter {
  opacity: 0.01;
  transform: scale(0.5);

  &.overlay-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 0.25s $ease-in-out-back;
  }
}

.overlay-leave {
  opacity: 1;
  transform: scale(1);

  &.overlay-leave-active {
    opacity: 0.01;
    transform: scale(0.5);
    transition: 0.2s ease-in-out;
  }
}
