.presentation__slide {
  width: 100vw;
}

.info {
  background-color: $gray-dark;
  border-radius: $border-radius 0 0 0;
  bottom: 0;
  color: white;
  display: flex;
  opacity: 0.6;
  position: fixed;
  right: 0;
  transition: 0.1s linear;

  &:hover {
    opacity: 1;
  }
}

.info__item {
  $size: 2rem;
  color: $gray-lighter;
  fill: $gray-lighter;
  height: $size;
  line-height: $size;
  min-width: $size;
  padding: 0 0.75rem;
  position: relative;
  user-select: none;

  &:hover {
    fill: white;
  }

  &.is-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.info__progress {
  .progress {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1rem;
  }

  .progress__slide {
    min-width: 1rem;
    border-left-width: 1px;
  }
}
