.presentation__slide {
  width: 100vw;
}

.info {
  background-color: rgba($gray-dark, 0.4);
  border-radius: $border-radius 0 0 0;
  bottom: 0;
  color: white;
  display: flex;
  position: fixed;
  right: 0;
  transition: 0.1s linear;

  &:hover {
    background-color: rgba($gray-dark, 0.9);
  }
}

.info__item {
  $size: 2rem;
  color: $gray-lighter;
  display: inline-block;
  fill: $gray-lighter;
  flex: 1 1 auto;
  font-feature-settings: "lnum" 1, "tnum" 1;
  height: $size;
  line-height: $size;
  min-width: $size;
  padding: 0 0.75rem;
  position: relative;
  text-align: center;
  user-select: none;

  &:hover {
    fill: white;
  }

  &.is-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  .icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
