.slides {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s ease-in-out;
}

.slide {
  transition: 0.1s linear;
  background-color: white;
  color: $gray-dark;
  position: relative;

  &.is-dragover {
    box-shadow: 0 0 0 0.5rem rgba($brand-primary, 0.7), $shadow-base;
  }
}

.slide__inverse {
  background-color: $gray-dark;
  color: white;
}

.slide__content__image,
.slide__content__text {
  padding: 1rem 2rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.slide__content__text {
  width: 60rem;

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2;
    margin-top: 0;
  }
}
