.slides {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.2s ease-in-out;
}

.slide {
  background-color: white;
  color: $gray-dark;
  display: inline-block;
  position: relative;
  transition: 0.1s linear;

  &.is-dragover {
    box-shadow: inset 0 0 0 0.5rem $brand-primary;
  }
}

.presentation__slide {
  height: 100vh;
  width: 100vw;
}

.slide__inverse {
  background-color: $gray-dark;
  color: white;
}

.slide__content__image,
.slide__content__text {
  left: 50%;
  padding: 1rem 2rem 3rem;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.slide__content__text {
  width: 60rem;

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2;
    margin-top: 0;
  }
}
