.tabs-navigation {

}

.tabs-menu {
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
}

.tabs-menu-item {
  list-style: none;
  padding: 0;
  flex: 1;
  text-align: center;
  display: block;
  border: 1px solid white;
  line-height: 2;
  user-select: none;
  font-weight: 600;

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &.is-active {
    background-color: white;
    color: $brand-primary;
  }

  + .tabs-menu-item {
    border-left: 0;
  }

  a {
    display: block;
    cursor: pointer;
  }
}
