@import "helpers";
@import "slides";
@import "controller";
@import "presentation";
@import "admin";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: white;
  color: $gray-dark;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

body,
.container {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.overlay {
  $offset: 0;
  background-color: rgba($brand-primary, 0.9);
  position: fixed;
  top: $offset;
  left: $offset;
  bottom: $offset;
  right: $offset;
  z-index: 9;
  color: white;
}

.overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 30rem;
}

.textarea {
  display: block;
  color: inherit;
  font-family: monospace;
  border-radius: $border-radius;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  outline: none;
  width: 100%;
  min-height: 3rem;
}

.tabs-navigation {

}

.tabs-menu {
  margin: 0 0 2rem;
  padding: 0;
  display: flex;
}

.tabs-menu-item {
  list-style: none;
  padding: 0;
  flex: 1;
  text-align: center;
  display: block;
  border: 1px solid white;
  line-height: 2;
  user-select: none;
  font-weight: 600;

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &.is-active {
    background-color: white;
    color: $brand-primary;
  }

  + .tabs-menu-item {
    border-left: 0;
  }

  a {
    display: block;
    cursor: pointer;
  }
}
