@import "{}/styles/helpers";
@import "{}/styles/slides";
@import "{}/styles/controller";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.slides__label {
  position: fixed;
  bottom: 0;
}
