@import "helpers";
@import "slides";
@import "controller";
@import "presentation";
@import "admin";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: white;
  color: $gray-dark;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

body,
.container {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
